@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --black: #1d1f21;
  --light-black: #242629;
  --slategrey: #6a8799;
  --white: #caced8;
  --pink: #ac6d74;
  --red: #50272c;
  --blue: #5182ef;
}

* {
  color: var(--white);
  font-family: "Ubuntu", serif;
  box-sizing: border-box;
  will-change: transform;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  overflow: hidden auto;
}

body.light {
  --black: #caced8;
  --light-black: #d2d5de;
  --slategrey: #6a8799;
  --white: #1d1f21;
  --pink: #c1121f;
  --red: #8ecae6;
}

#root {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

/* Error Page  */
.error-container {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  padding: 24px;
  text-align: center;
}

.error-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--pink);
}

.error-message {
  font-size: 1.25rem;
  color: var(--slategrey);
  margin-top: 8px;
}

.error-subtext {
  font-size: 1.125rem;
  color: var(--pink);
  margin-top: 16px;
}

/* Navbar  */
nav.navbar {
  background-color: var(--light-black);
  padding: 1.5em 2em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  display: flex;
}

nav.navbar h1 {
  margin: 0;
  font-size: 2em;
  cursor: pointer;
}

nav.navbar button {
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--white);
  outline: none;
  padding: 0.8em 2em;
  margin-left: 1.5em;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

/* nav.navbar a:has(.login-btn) {
  margin-left: auto;
} */

nav.navbar .login-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

nav.navbar .signup-btn:hover,
nav.navbar .logout-btn:hover {
  filter: brightness(125%);
}

/* From Uiverse.io by cuzpq */
.theme-checkbox {
  --toggle-size: 14px;
  margin-left: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, var(--white)),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, var(--white) 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, var(--white) 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, var(--white)),
      color-stop(50%, var(--black))
    )
    no-repeat;
  background: -o-linear-gradient(left, var(--white) 50%, var(--black) 50%)
    no-repeat;
  background: linear-gradient(to right, var(--white) 50%, var(--black) 50%)
    no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

.paste-button {
  position: relative;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* margin-left: auto; */
}

.button {
  background-color: var(--white);
  color: var(--black); /* Replaced --lavender with --black */
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.button svg {
  stroke: var(--black);
}

.dropdown-content {
  display: none; /* Hidden by default */
  opacity: 0;
  font-size: 13px;
  letter-spacing: 1px;
  position: absolute;
  z-index: 1;
  min-width: 100%;
  background-color: var(--black); /* Replaced --lavender with --black */
  border: 2px solid var(--white);
  border-radius: 7px; /* Slightly rounder corners */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-in-out;
}

.dropdown-content a {
  color: var(--white);
  border-bottom: 1px solid var(--white);
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dropdown-content a:hover {
  /* background-color: var(--white); */
  /* color: var(--black); */
  filter: invert(25%);
}

.dropdown-content a:focus {
  background-color: var(--black); /* Replaced --lavender with --black */
  color: var(--white);
}

/* Show dropdown on hover */
.paste-button:hover .dropdown-content {
  display: block; /* Show dropdown content on hover */
  opacity: 1; /* Make it visible with a fade-in */
  animation: fade 0.2s both;
}

@keyframes fade {
  0% {
    opacity: 0;
    filter: blur(2.5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

/* Footer  */
footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-black);
  padding: 0.75em 2em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-top: auto;
  letter-spacing: 1px;
}

footer span {
  font-weight: 600;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blue);
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  filter: grayscale(30%);
}

/* Login Form and Signup Form */
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1em;

  margin-top: 5em;
  padding: 1.5em 2em;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.login-form h1,
.signup-form h1 {
  margin-bottom: 0.2em;
  letter-spacing: 0.75px;
}

/* .login-form p,
.signup-form p {
  margin-bottom: 2em;
} */

.login-form p a,
.signup-form p a {
  color: #5182ef;
}

.login-form input,
.signup-form input {
  background-color: var(--light-black);
  border: 1px solid var(--light-black);
  border-radius: 7px;
  outline: none;
  padding: 1em;
  width: 32em;
  transition: all 0.25s ease-in-out;
}

.login-form input:focus,
.signup-form input:focus {
  border: 0.5px solid var(--white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.login-form input:hover,
.signup-form input:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.login-form button,
.signup-form button {
  background-color: var(--white);
  color: var(--black);
  letter-spacing: 1.5px;
  font-weight: 500;
  font-size: 1em;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.login-form button:hover,
.signup-form button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  filter: invert(10%);
}

.login-form p.error-msg,
.signup-form p.error-msg {
  margin: 0;
  color: red;
  font-size: 0.9em;
  margin-left: 1em;
  margin-top: -0.5em;
}

p.res-text {
  margin: 0;
}

/* DashBoard */

/* All Posts Page  */
.dashboard {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 3em 4em;

  border-radius: 7px;
}

.dashboard .head {
  width: 100%;
  padding: 2em;
  /* border: 1px solid var(--light-black); */
  border-radius: 7px;

  display: flex;
}

.dashboard form {
  box-sizing: border-box;
  display: flex;
  align-self: center;
  margin-left: auto;
}

.dashboard form input {
  background-color: var(--light-black);
  border: none;
  outline: none;
  padding: 1em;
  transition: all 0.2s ease-in-out;
}

.dashboard form input:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dashboard form button {
  background-color: var(--light-black);
  border: none;
  outline: none;
  cursor: pointer;
}

.dashboard table {
  width: 100%;
  border-spacing: 2em;
}

.dashboard table .headers th {
  /* border-bottom: 1px solid var(--light-black); */
  opacity: 0.8;
  /* border-color: var(--white); */
}

.dashboard table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dashboard table button:hover {
  transform: scale(1.05);
}

.dashboard .no-posts-div {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

/* Create Post Page  */
.dashboard .new-post-page {
  width: fit-content;
  padding: 2em;
  /* border: 1px solid var(--light-black); */
  border-radius: 7px;

  display: flex;
  flex-direction: column;
}

.dashboard .new-post-page h1 {
  margin-bottom: 2em;
}

.dashboard .new-post-page form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  gap: 1.5em;
  padding: 0 1em;
}

.dashboard .new-post-page form input {
  width: 75%;
  border-radius: 5px;
}

/* From Uiverse.io by DaniloMGutavo */
.dashboard .new-post-page .isPublished {
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  padding: 0.5em 1.5em;
  padding-bottom: 0.1em;
  border-radius: 7px;
}

.checkbox-container {
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-container p {
  margin: 0;
  margin-top: 4px;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--light-black);
  border-radius: 4px;
  transition: background-color 0.3s;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--black);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
  background-color: var(--blue);
  box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.custom-checkbox:checked ~ .checkmark:after {
  display: block;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}

.custom-checkbox:checked ~ .checkmark:after {
  animation: checkAnim 0.2s forwards;
}

.dashboard .new-post-page button {
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--white);
  outline: none;
  padding: 0.8em 2em;
  margin-left: 1.5em;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  will-change: transform;
}

.dashboard .new-post-page button:hover {
  /* background-color: var(--black);
  color: var(--white); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transform: scale(1.025);
}

.article-back {
  display: flex;
  align-items: center;
  gap: 0.4em;
  font-size: 1.25em;
  cursor: pointer;
  margin-bottom: 1em;
}

.article-back:hover,
.article-back:hover svg {
  color: var(--pink);
  stroke: var(--pink);
}
